.animate-box {
  position: relative;
  max-width: 500px;
}

.animate-box > picture {
  position: relative;
  z-index: 1;
}

.animate-box__image {
  position: relative;
}

.animate-box__wrapp {
  position: absolute;
  top: -117px;
  right: -121px;
  z-index: -1;
}

.second-sec {
  padding-top: 16%;
  padding-bottom: 10%;
  position: relative;

  &::before {
    width: 300px;
    height: 300px;
    background: #2B0467;
    box-shadow: 0px 0px 250px 100px #2B0467;
    border-radius: 50%;
    position: absolute;
    content: '';
    top: 40%;
    right: -300px;
  }
}

.second-box {
  display: flex;
  justify-content: space-between;
}

.second-box__item {
  max-width: 460px;
  padding-top: 8%;
  position: relative;
  width: 100%;
  margin-right: 6%;
}

.second-box__title {
  font-family: Days One;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  color: #FAF0E6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}

.second-box__text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #DDDCDB;
  margin-bottom: 25px;
}

.second-list {
  max-width: 420px;
  margin-bottom: 30px;
  padding-left: 10px;
}

.second-list__item {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #DDDCDB;
  &--round {
    position: relative;
    padding-left: 20px;

    &::before {
      content: '.';
      position: absolute;
      left: 0;
      top: 0;
      font-size: 30px;
      line-height: 7px;
    }
  }
}

.second-list__descr {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #DDDCDB;
  margin-top: 25px;
}

.calc-btn {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border: 4px solid #FAF0E6;
  filter: drop-shadow(0px 0px 3px #FAF0E6);
  font-family: Sansation;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #FAF0E6;
}

