
.third-sec {
  padding-top: 2.5%;
}

.third-sec__title {
  font-family: Klaxons;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 74px;
  color: #0BDA51;
  text-shadow: 0px 0px 6px #0BDA51;
  text-transform: uppercase;
  text-align: center;
}

.swiper-slide {
  display: flex;
  max-width: 376px;
  justify-content: center;
}

