@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto";

  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}


@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Days One";

  font-display: swap;
  src: url("../fonts/DaysOne-Regular.woff2") format("woff2"), url("../fonts/DaysOne-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Klaxons";

  font-display: swap;
  src: url("../fonts/Klaxons.woff2") format("woff2"), url("../fonts/Klaxons.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";

  font-display: swap;
  src: url("../fonts/Montserrat-Regular") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Sansation";

  font-display: swap;
  src: url("../fonts/Sansation-Regular") format("woff2"), url("../fonts/Sansation-Regular.woff") format("woff");
}
